@media (max-width: 800px) {
  .wrapper {
    display: block !important;
    margin-block: unset !important;
  }

  .thumbnails {
    background-color: red;
    display: none !important;
    visibility: hidden;
    background-color: red !important;
  }

  .right {
    padding-inline: 2rem;
  }

  .btns {
    // flex-direction: column;
    display: block !important;
  }

  .price {
    display: flex;
    justify-content: space-between;
  }

  .cartBtn {
    width: 100%;
    height: 40px;
    margin-top: 0.75rem;
  }
}
